/* Page Styles */

.transition--300 {
  transition: all 300ms ease-in-out;
}

.toc {
  height: 100%;
  width: 280px;
  transform: translateX(0);
}

.content {
  margin-left: 280px;
}

.hero {
  background-color: #54BC4B;
}

.title {
  font-size: 3em;
}

.content {
  margin-bottom: 95vh;

  ul,
  ol {
    list-style: inherit;
  }
}

a.toc-link {
  text-decoration: none;
}
